<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand">booking</a> <!-- href ใช้คลิกลิ้งหน้า -->

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <!-- //<a class="nav-link" (click)="currentPage= 'Home'" >Home booking </a> -->
        <a class="nav-link" routerLink="/home">Home booking</a>
      </li>
      <li class="nav-item ">
        <!-- <a class="nav-link" (click)="currentPage='wishList'">Wish List </a> -->
        <a class="nav-link" routerLink="/wishlist">Wish List</a>
        <!-- routerLink ใช้เพื่อ เปลี่ยนหน้าแต่จะไม่ รีเฟสหน้า -->

      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Manage booking</a>
      </li>

      <li class="nav-item">
        <a class="nav-link disabled" routerLink="/about">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<router-outlet>

</router-outlet> <!-- วิธีดึงค่ามาโชว์หน้าเว็ป -->

<!-- <app-home-booking></app-home-booking> -->
<!-- <div class="container">
  <div class="row"*ngIf="currentPage =='Home'"> 

    <div class="col-sm" *ngFor="let hotel of hotels">

      <app-hotel [hotel]="hotel"
      (star)="addWishList(hotel)"></app-hotel> 
      

    </div>

  </div>
</div> -->